@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans;
  background-color: hsl(217, 54%, 11%);
}

.highlight {
  color:#ffb703;
  font-weight: 900;
}

.dark {
  color: hsl(215, 51%, 70%);
}

.white {
  color: white;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 0.4em;
  width: 100%;
  margin-top: 2em;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(215, 32%, 27%);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.container {
  max-width: 100rem;
  margin: auto;
}

.header {
  font-weight: 900;
  text-align: center;
}

.content-container {
  background-color: white;
  padding: 0.8em 1em;
  border-radius: 0.5em;
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
}

.form-container {
  margin-top: 2em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
}

.form-group label {
  text-align: center;
  color:hsl(215, 51%, 70%);
  font-weight: 700;
}

.form-group input {
  padding: 0.4rem 1rem;
}

::placeholder {
  opacity: 0.4;
}

@media (min-width: 40rem) {
  .form-container {
    flex-direction: row;
    justify-content: center;
  }
}